@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020202;
  --foreground: #eeeeee;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
